body{
	font-size: 16px;
	color: #FFF;
}

/*Header*/

.navbar-brand h1{
	margin: 0 auto;
	font-size: 1.5em;
	color: #58a9b2;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-collapse a{
border: 1px solid gray;
	text-align: center;
	color: white;
}

.navbar-nav {
	background-color: #f6f1ff;
}
/*End Header*/



/*Main Page*/
#main-content{
	height: 1000px;
}

#main-content .row{
	background-color: #58a9b2;
}

#main-content h2, #main-content h3, #main-content p{
	color: #ffffff;
}

#main-content h3{
	text-align: center;
}

#main-content section:nth-child(3){
	margin-bottom: 20px;
}

/*End Main Page*/